[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-pathogen"]
    path = vim/bundle/vim-pathogen
    url = https://github.com/tpope/vim-pathogen.git
    ignore = untracked
[submodule "vim/bundle/vim-colors-solarized"]
    path = vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
    ignore = untracked
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
    ignore = untracked
[submodule "vim/bundle/lightline.vim"]
    path = vim/bundle/lightline.vim
    url = https://github.com/itchyny/lightline.vim
    ignore = untracked
[submodule "vim/bundle/jedi-vim"]
    path = vim/bundle/jedi-vim
    url = https://github.com/davidhalter/jedi-vim
    ignore = untracked
 [submodule "vim/bundle/SimpyIFold"]
    path = vim/bundle/SimpyIFold
    url = https://github.com/tmhedberg/SimpyIFold
    ignore = untracked
 [submodule "vim/bundle/indentpython"]
    path = vim/bundle/indentpython
    url = https://github.com/vim-scripts/indentpython
    ignore = untracked
 [submodule "vim/bundle/YouCompleteMe"]
    path = vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe
    ignore = untracked
 [submodule "vim/bundle/syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/vim-syntastic/syntastic
    ignore = untracked
    
